<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Edit Your Profile</h1>
    <p class="text-center">Be a part of the Dev Match community and fill out your profile.</p>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>